<div class="container">
	<div class="modal fade in" id="productoModal" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content col-lg-12 col-sm-12 col-xs-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Producto <b id="productoTitulo"></b> <span class="label label-success"><b id="productoPrecio"></b></span></h4>
				</div>
				<div class="modal-body">
					<div class="container col-lg-12 col-sm-12 col-xs-12">
						<img src="" id="productoImagen" class="img-square center-block">
						<div class="col-lg-12 col-sm-12 col-xs-12">
							<h4 id="productoNombre"></h4>
						</div>
						<div>
							<p id="productoDescripcion"></p>
						</div>
						<div class="col-lg-12 col-sm-12 col-xs-12">
                            <form id="formFichaProducto" action="/home/" method="post">
                                <button type="submit" class="btn btn-primary">
                                    Ver ficha producto
                                </button>
                            </form>
                        </div>
					</div>
				</div>
				<div class="modal-footer col-lg-12 col-md-12 col-xs-12">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
		<div class="container">
			<p class="footer-block">Quienes somos.</p>
			<p class="footer-block">Contacta con nosotros</p>
		</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->

<script src="/javascripts/jquery-2.2.3.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--Menu desplegables 
    =================
-->
<script src="/bootstrap-hover-dropdown-master/bootstrap-hover-dropdown.min.js"></script>
<!--Sliders Rating 
    =================
-->
<script src="/bootstrap-star-rating-master/js/star-rating.js" type="text/javascript"></script>
<!--Validar formularios
    ===================
-->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
<script type="text/javascript" src="/javascripts/comprobacionFormularios.js"></script>

<!--
    Jquery Searchable
    ================= -->
<script src="/javascripts/jquery-searchable-master/jquery.searchable.js"></script>
<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script src="/javascripts/typeahead.js/bloodhound.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<script>
	$(document).ready(function () {
        // Función de ejecución de los dropdowns
		$('.dropdown-toggle').dropdown();
        /*********** FUNCIONES DE Configura tu PC **********/
        $('.selectpicker').selectpicker({
          style: 'btn-primary',
        });
        var str = "";
        
        $( "select" ).change(function() {
          str += $( this ).val() + " ";
          /*$(this).parent().parent().parent().next().first().remove();*/
          console.log($(this).parent().parent().parent().next().add('<label class="label label-default" style="font-size: 15px" value="0">' + str + '</label>'));
        });
        
        
        /*********** FUNCIONES DE MODAL PRODUCTO **********/
		$('.botonProducto').click(function(){
			$('#productoTitulo').replaceWith("<b id='productoTitulo'>" + $(this).parent().parent().find('.h4').text() +"</b>");
			$('#productoNombre').replaceWith("<b id='productoNombre'>" + $(this).parent().parent().find('.h4').text() +"</b>");
			$('#productoImagen').replaceWith('<img id="productoImagen" class="img-square col-lg-offset-3 col-sm-offset-3 col-xs-offset-0" height="200" width="200" src="' + $(this).parent().parent().find('.img-square').attr('src') + '">');
			$('#productoDescripcion').replaceWith("<p id='productoDescripcion' class='text-justify col-lg-12'>" + $(this).prev().prev().text() + "</p>");
			$('#productoPrecio').replaceWith("<span id='productoPrecio'>" + $(this).prev().first().text() + "</span>");
            // Completar action del form hacia ficha técnica
            $nombreProducto = $(this).parent().parent().find('.h4').text();
            $('#formFichaProducto').attr('action',"/home/"+$nombreProducto);
		});

        /*********** FUNCIONES DE BUSQUEDA **********/
        $('#searchable-container').searchable({
            searchField   : '#buscadorProducto',
            selector      : '.trBusqueda',
            childSelector : '.tdBusqueda',
            show: function( elem ) {
                elem.show(100);
            },
            hide: function( elem ) {
                elem.hide( 100 );
            }
        });
        var substringMatcher = function(strs) {
          return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];
            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                var strsPasoUno = str.split(",");
                var strsPasoDos = strsPasoUno[0].split("¬");
              if (substrRegex.test(strsPasoDos[0])) {
                matches.push(strsPasoDos[0]);
              }
            });
            cb(matches);
          };
        };
        $('#productoListaVacia').focusout(function(){
            $('#productoListaVacia').val();
        });
        var articulos = $('.listaProductos').val().split(",");
        for (var i = 0; i < articulos.length; i++){
            productos = articulos;
        }
        $('#the-basics .typeahead').typeahead({
          hint: false,
          highlight: false,
          minLength: 1
        },
        {
          name: 'productos',
          source: substringMatcher(productos),
          templates: {
            empty: [
              '<div class="empty-message">',
                'unable to find any Best Picture winners that match the current query',
              '</div>'
            ].join('\n'),
            suggestion: function(productos){
                var producto = productos.split("¬");
                return '<a href="/producto/' + producto[0] + '"><p><img src="/images/fotosProductos/' + producto[0]+ ".jpg" +'" width="25%" height="25%"><strong>' + producto[0] + '</strong></p></a>';
            }
          }
        }).on('typeahead:selected', function (obj, datum) {
            $('form').get(0).setAttribute('action',"/producto/" + datum)
        });
        
        /*********** FUNCIONES DE LA CESTA *********/
        
        // Al abrir la página ocultamos las descripciones de los productos
        $('div[class*="descripcion"]').hide();
        // Desplegable de la información de cada producto
        $('a[class*="abrir-info"]').click(function(){
            if($(this).find('span').hasClass('glyphicon glyphicon-chevron-down')){
                $(this).parent().find('div[class*="descripcion"]').show();
                $(this).find('span').removeClass('glyphicon glyphicon-chevron-down').addClass('glyphicon glyphicon-chevron-up');
            }else if($(this).find('span').hasClass('glyphicon glyphicon-chevron-up')){
                $(this ).parent().find('div[class*="descripcion"]').hide();
                $(this).find('span').removeClass('glyphicon glyphicon-chevron-up').addClass('glyphicon glyphicon-chevron-down');
            }
        });
    
        // Cálculo del importe total del pedido
        $resultado=0;
        $suma=0;
        // Recorrido de los totales de cada producto según la cantidad
        $('.cantidad').each(function(){
            $totalProd=parseFloat($(this).parent().next().text())*parseFloat($(this).val());
            $(this).parent().next().next().text($totalProd.toFixed(2));
            $suma=$suma + parseFloat($totalProd);
            $('#totalCarrito').text($suma.toFixed(2));
            // Cálculo del total de cada producto según la cantidad
            $(this).focusout(function(){
                $suma=0;
                $resultado=parseInt($(this).val())*parseFloat($(this).parent().next().text());
                $(this).parent().next().next().text($resultado.toFixed(2));
                // Cálculo del importe total de los productos del carrito
                $('.totalProducto').each( function (index) {
                    $suma=$suma + parseFloat($(this).text());
                    $('#totalCarrito').text($suma.toFixed(2));
                });  
            });
        });
        
        /*********** FUNCIONES DEL ENVÍO Y PAGO *********/
        // Edita datos personales
        $('#editaDatosPersonales').click(function(){
            // Mostramos el formulario para guardar los nuevos datos personales
            $('#formDatosPersonales').removeClass('hidden');
            // Escondemos el enlace de edición de los datos
            $(this).hide();
            // Cancelar la modificación de los datos personales
            $('#cancelarModificacionDatosPersonales').click(function(){
                // Mostramos el formulario para guardar los nuevos datos personales
                $('#formDatosPersonales').addClass('hidden');
                // Mostramos el enlace de edición de los datos
                $('#editaDatosPersonales').show();
            });
        });
    
        // Edita dirección de Envío
        $('#editaDireccionEnvio').click(function(){
            // Mostramos el formulario para guardar los datos de la nueva dirección de envío
            $('#formDireccionEnvio').removeClass('hidden');
            // Escondemos la opción de edición de dirección
            $(this).hide();
            // Cancelar la modificación de la dirección de envío
            $('#cancelarModificacionDireccionEnvio').click(function(){
                // Escondemos el formulario
                $('#formDireccionEnvio').addClass('hidden');
                // Volvemos a mostrar la opción de edición de la dirección de envío
                $('#editaDireccionEnvio').show();
            });
        });
    
        // Añadiendo nueva dirección de facturación
        $('#nuevaDireccionFacturacion').click(function(){
            // Mostramos el formulario para añadir los datos de la nueva dirección de facturación
            $('#formDireccionFacturacion').removeClass('hidden');
            // Escondemos la opción de añadir
            $(this).hide();
            // Cancelar la adición de la dirección de facturación
            $('#cancelarNuevaDireccionFacturacion').click(function(){
                // Escondemos el formulario
                $('#formDireccionFacturacion').addClass('hidden');
                // Volvemos a mostrar la opción de adición de dirección
                $('#nuevaDireccionFacturacion').show();
            });
        });
        
        // Cambiando método de pago
        $('#editaMetodoPago').click(function(){
            // Mostramos el formulario para añadir la información del nuevo método de pago
            $('#formMetodoPago').removeClass('hidden');
            // Escondemos la opción de cambio de método de pago
            $(this).hide();
            // Mostramos los formularios según el método
            $('input[name="metodoPago"]').click(function(){
                if($('#metodoPagoVisa').is(':checked')){
                    if(!$('#cuentaPaypal').hasClass('hidden')){
                        $('#cuentaPaypal').addClass('hidden')
                    }
                    $('#cuentaVisa').removeClass('hidden');
                }else if($('#metodoPagoPaypal').is(':checked')){
                    if(!$('#cuentaVisa').hasClass('hidden')){
                        $('#cuentaVisa').addClass('hidden')
                    }
                    $('#cuentaPaypal').removeClass('hidden');
                }
            });
            // Cancelar el cambio del método
            $('#cancelarMetodoPago').click(function(){
                // Escondemos el formulario
                $('#formMetodoPago').addClass('hidden');
                // Volvemos a mostrar la opción de cambio de método
                $('#editaMetodoPago').show();
            });
        });
        
        // Cambio de tab de envío y pago a cesta
        $('#botonPagAnteriorEnvio').click(function(){
            $('#tabenvioypago').removeClass().addClass('col-lg-3');
            $('#tabcesta').removeClass().addClass('col-lg-3 active');
            $('#envioypago').removeClass().addClass('tab-pane fade');
            $('#cesta').removeClass().addClass('tab-pane fade in active');
        });
        // Cambio de tab de envío y pago a resumen
        $('#botonPagSiguienteEnvio').click(function(){
            $('#tabenvioypago').removeClass().addClass('col-lg-3');
            $('#tabresumen').removeClass().addClass('col-lg-3 active');
            $('#envioypago').removeClass().addClass('tab-pane fade');
            $('#resumen').removeClass().addClass('tab-pane fade in active');
        });
        
        /*********** FUNCIONES DEL RESUMEN *********/
    
        // Enviamos la dirección de facturación seleccionada a la página de resumen
        var resumenDireccionFacturacion = $('#selectDireccionesFacturacion option:selected').text();
        $('#resumenDireccionFacturacion').append(resumenDireccionFacturacion);
    
        // Calculamos los resultados de los importes a la página de resumen
        $resultado=0;
        $suma=0;
        // Recorrido de los totales de cada producto según la cantidad
        $('.resumenCantidad').each(function(){
            $totalProd=parseFloat($(this).next().text())*parseFloat($(this).text());
            $(this).next().next().text($totalProd.toFixed(2));
            $suma=$suma + parseFloat($totalProd);
            $('#resumenTotalCarrito').text($suma.toFixed(2));
            // Cálculo del importe con gastos de envío
            $total=$suma+5;
            $('#resumenTotalMasGastos').text($total.toFixed(2));
        });
        
        // Cambio de tab de envío y pago a cesta
        $('#botonPagAnteriorResumen').click(function(){
            $('#tabresumen').removeClass().addClass('col-lg-3');
            $('#tabenvioypago').removeClass().addClass('col-lg-3 active');
            $('#resumen').removeClass().addClass('tab-pane fade');
            $('#envioypago').removeClass().addClass('tab-pane fade in active');
        });
        
        /********** FUNCIONES DE FINALIZAR **********/

        // Cambio de tab de envío y pago a cesta
        $('#botonPagAnteriorFinalizar').click(function(){
            $('#tabfinalizar').removeClass().addClass('col-lg-3');
            $('#tabresumen').removeClass().addClass('col-lg-3 active');
            $('#finalizar').removeClass().addClass('tab-pane fade');
            $('#resumen').removeClass().addClass('tab-pane fade in active');
        });

        /*************** FUNCIONES DE LA FICHA DEL PRODUCTO ***************/

        // Funciones que deshabilita el botón si no hay comentario o valoración
        $('#comentario').blur(function(){
            alert($('.caption').find('span').text());
            $comentario=$('#comentario').val();
            if($comentario==""||$comentario==undefined){
                $('#botonComentario').prop("disabled", true);
            }else{
                $('#botonComentario').prop("disabled", false);
            }
        });

        /*$('.rating-container').click(function(){
            alert('mono');
            //$('.star-rating-control .star-rating-on').length;
            $valoracion=$('#valoracion').prev().children().text();
            alert($valoracion);
            $('#comentarioValoracion').prop("disabled", false);
            if($valoracion==""||$valoracion==undefined){
                $('#comentarioValoracion').prop("disabled", true);
            }else{
                $('#comentarioValoracion').prop("disabled", false);
            }
        });*/

    
    });
    
  
    /*********** FUNCIONES DE VALIDACIÓN *************/

/*    // Función que valida cualquier campo (input)
    function validacionCampo(id, variable, regex, idMensajeOk, idMensajeError, mensajeErrorVacio, mensajeErrorFormato){
        $('#'+id).focusout(function(){
            if($('#'+id).val()==''){
                $(this).parent().find('#'+idMensajeOk).remove();
                $(this).parent().find('#'+idMensajeError).remove();
                $(this).after('<p id="'+idMensajeError+'" style="color:red"><small>El campo '+mensajeErrorVacio+' no puede estar vacío.</small><br>');
                $('#errorNombre').prepend('<span class="glyphicon glyphicon-remove"></span>');
            }else{
                $(this).parent().find('#'+idMensajeOk).remove();
                $(this).parent().find('#'+idMensajeError).remove();
                $(this).before('<small id="'+idMensajeOk+'">&nbsp<span class="glyphicon glyphicon-ok"></span></small');
            }
        });
        $('#'+id).keyup(function(){
            var valor=$(this).val();
            var variable=new RegExp(regex);
            if(variable.test(valor)){
                $(this).parent().find('#'+idMensajeOk).remove();
                $(this).parent().find('#'+idMensajeError).remove();
                $(this).before('<small id="'+idMensajeOk+'">&nbsp<span class="glyphicon glyphicon-ok"></span></small');
                $('#'+idMensajeError).prepend('<span class="glyphicon glyphicon-remove"></span>');
            }else{
                $(this).parent().find('#'+idMensajeOk).remove();
                $(this).parent().find('#'+idMensajeError).remove();
                $(this).after('<p id="'+idMensajeError+'" style="color:red"><small>'+mensajeErrorFormato+' no tiene el formato correcto.</small><br>');
                $('#'+idMensajeError).prepend('<span class="glyphicon glyphicon-remove"></span>');
            }
        });
    }

    // Función que valida los datos personales
    function validacionDatosPersonales(){
        validacionCampo('nombre', 'nombre', '^([a-zA-Z]+( )?)+$', 'nombreOk', 'nombreError', 'del nombre', 'El nombre');
        validacionCampo('apellidos', 'apellidos', '^([a-zA-Z]+( )?)+$', 'apellidosOk', 'apellidosError', 'de los apellidos', 'Los apellidos');
        validacionCampo('telefono', 'telefono', '^[0-9]{9}$', 'telefonoOk', 'telefonoError', 'del teléfono', 'El teléfono');
    }

    // Función que valida los campos de la dirección de facturación
    function validacionDireccionEnvio(){
        // Deshabilitamos el botón de envío
        $('#pedidoEnvio').attr("disabled", true);

        validacionCampo('calleEnvio', 'calle', '^([a-zA-Z]+( )?)+$', 'calleEnvioOk', 'calleEnvioError', 'de la calle', 'La calle');
        validacionCampo('numeroEnvio', 'numero', '^[0-9]+(( )?-( )?[0-9]+)?$', 'numeroEnvioOk', 'numeroEnvioError', 'del número', 'El número');
        validacionCampo('pisoEnvio', 'piso', '^[0-9]+$', 'pisoEnvioOk', 'pisoEnvioError', 'del piso', 'El piso');
        validacionCampo('puertaEnvio', 'puerta', '^[0-9]+$', 'puertaEnvioOk', 'puertaEnvioError', 'de la puerta', 'La puerta');
        validacionCampo('cpEnvio', 'cp', '^[0-9]+$', 'cpEnvioOk', 'cpEnvioError', 'del código postal', 'El código postal'); 

        // Habilitamos el botón de envío
        $('#pedidoEnvio').attr("disabled", false);
    }

    // Función que valida los campos de la dirección de facturación
    function validacionDireccionFacturacion(){
        // Deshabilitamos el botón de envío
        $('#pedidoEnvio').attr("disabled", true);

        validacionCampo('calleFacturacion', 'calle', '^([a-zA-Z]+( )?)+$', 'calleFacturacionOk', 'calleFacturacionError', 'de la calle', 'La calle');
        validacionCampo('numeroFacturacion', 'numero', '^[0-9]+(( )?-( )?[0-9]+)?$', 'numeroFacturacionOk', 'numeroFacturacionError', 'del número', 'El número');
        validacionCampo('pisoFacturacion', 'piso', '^[0-9]+$', 'pisoFacturacionOk', 'pisoFacturacionError', 'del piso', 'El piso');
        validacionCampo('puertaFacturacion', 'puerta', '^[0-9]+$', 'puertaFacturacionOk', 'puertaFacturacionError', 'de la puerta', 'La puerta');
        validacionCampo('cpFacturacion', 'cp', '^[0-9]+$', 'cpFacturacionOk', 'cpFacturacionError', 'del código postal', 'El código postal'); 

        // Habilitamos el botón de envío
        $('#pedidoEnvio').attr("disabled", false);
    }

    // Función que valida La cuenta de la visa
    function validacionCuentaVisa(){
        // Validación del campo
        validacionCampo('campoCuentaVisa', 'campoCuentaVisa', '^([0-9]{4}-){3}[0-9]{4}$', 'campoCuentaVisaOk', 'campoCuentaVisaError', 'de la cuenta', 'La cuenta');
    }    

    // Función que valida la cuenta de paypal
    function validacionCuentaPaypal(){
         // Validación del campo
        validacionCampo('campoCuentaPaypal', 'campoCuentaPaypal', /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i, 'campoCuentaPaypalOk', 'campoCuentaPaypalError', 'de la cuenta', 'La cuenta');            
    }
  */  
</script>
