<div class="navbar navbar-inverse navbar-static-bottom">
	<div class="container">
		<div class="navbar-text">
			<p>Quienes somos.</p>
			<p>Contacta con nosotros</p>
		</div>
	</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--Menu desplegables 
    =================
-->
<script src="/bootstrap-hover-dropdown-master/bootstrap-hover-dropdown.min.js"></script>
<!--Validar formularios
    ===================
-->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
<script type="text/javascript" src="/javascripts/comprobacionLoginAndRegister.js"></script>
<script>
	$(document).ready(function () {
		$('.dropdown-toggle').dropdown();
        /*$('#botonpagcesta').click(function(){
		        $("#tabcesta").toggleClass("active");
		        $("#tabenvioypago").toggleClass("active");
		    });*/

		/*$("#botonpagcesta").click(function(){
		        $("#prova").addClass("active");
		    });
		});*/

		//disabled
		/*$('#aEnvioypago').click(function(event){
	        if ($('#cesta').toggleClass('disabled')) {
	        	$('#envioypago').toggleClass('active');
	        	return false;
	        } else {
	        	$('#envioypago').attr('href','#cesta');
	        }
    	});*/
	}
</script>