<%var x = "formMarca" ; if (x == formulario ) { %>
	<table class="table table-responsive">
    	<thead>
            <tr>
                <th>Nombre Marca</th>
                <th>Cantidad Articulos</th>
            </tr>
        </thead>
        <tbody>
			<% for(var i = 0; i < productosMarcas.length; i++) {%>
			<tr>
				<td><%= productosMarcas[i].nombre %></td>
				<td><%= productosMarcas[i].idProducto.length %></td>
			</tr>
			<% } %>
		</tbody>
	</table>
<% } else { %>
	
<% } %>