<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= titulo %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrapValidator.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.css">
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/bootstrap-star-rating-master/css/star-rating.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<!-- <link href="/bootstrap-star-rating-master/css/theme-krajee-fa.css" rel="stylesheet">
<link href="/bootstrap-star-rating-master/css/theme-krajee-svg.css" rel="stylesheet"> 
<link href="/bootstrap-star-rating-master/css/theme-krajee-uni.css" rel="stylesheet"> -->
