<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= titulo %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrapValidator.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.css">
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">