doctype html
html
  head
    title Listar pelis con Jade
  body
    #wrap
      header
        h1 Pelicules trobades

      content
        
        block text
        table
          thead pelicules
          tbody
            tr
                th Codigo de placa
                th Título de placa
                th Descripción de placa
            each placa in placas
              tr
                td=placa.codplacabase
                td=placa.titulo
                td=placa.descripcion