<!DOCTYPE html>
<html>
<head>
	<%- include ./header %>
</head>
<body data-spy="scroll" data-target="#navbar-example">
	<%- include ./menu %>
	<div class="container redirigir">
		<p><%= texto %></p>
	</div>
    <%- include("./footer") %>
</body>
</html>