html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
  position: relative;
}
#formFormularioAdminAnadir{
  position: relative;
  margin-top: 20px;
}
.divSubirFotoProducto{
  padding-top: 10px;
}
.row{
  padding-left: 15px;
}
.thumbnail{
  height: 365px;
}
/*.borderless td, .borderless th {
  border: none;
}*/
#titulo{
  text-transform:capitalize;
}
#footer {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 60px;
  background-color: black;
}
.footer-block{
  color: white;
}
#about{
  position: relative;
  margin-top: 5em;
}
.miperfil{
  margin-top: 5em;
}
.fa-paypal {
  font-size: 2em;
}
.fa-cc-visa{
  font-size: 2em;
}
.telefonoCorreo{
  margin-right: 1em;
}
.dropdown-header{
  text-align: center;
}
a {
  color: #00B7FF;
}
.panel-heading{
  margin-top: 0px;
}
@font-face {
  font-family: fontAlKa;
  src: url("/fonts/13misa/13_Misa.TTF");
}
#AlKa{
  font-family: fontAlKa;
  float: left;
  height: 50px;
  padding: 30px;
  font-size: 50px;
  line-height: 5px;
  padding-left: 10px;
  color: #286090;
}
.navbar-fixed-top {
  height: auto;
}
.table-responsive tr td{
  width: 100px;
}
.precioCarrito{
  font-size: 20px;
}
.menu {
  font-size: 20px;
}
.redirigir{
  position: relative;
  margin-top: 5em;   
}
#myCarousel{
  position: relative;
  margin: 5em 1em 0em 1em;
}
#myCarousel .carousel-indicators li {
  background-color: red;
  border-color: black;
  border-radius: 5%;
}
#myCarousel .carousel-indicators .active {
  background-color: blue;
  border-color: black;
  border-radius: 5%;
}
#myCarousel .glyphicon{
  color: blue;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.botonPaginar{
    background-color: white;
    color: #337AB7;
    border: 1px;
    border-style: solid;
    border-color: #337AB7;
}